[submodule "lib/sdsl"]
	path = lib/sdsl
	url = https://github.com/simongog/sdsl-lite.git
[submodule "lib/KMC"]
	path = lib/KMC
	url = https://github.com/refresh-bio/KMC.git
[submodule "lib/cxxopts"]
	path = lib/cxxopts
	url = https://github.com/jarro2783/cxxopts.git
[submodule "lib/sshash"]
	path = lib/sshash
	url = https://github.com/jermp/sshash.git
